@import './variables';

.wrap {
  text-align: left;
  position: relative;
}

.input {
  display: block;
  padding: 11px 34px 11px 18px;
  width: 100%;
  height: 46px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
  border: 1px solid rgba($color-earth-grey, .2);
  outline: none;
  border-radius: 0;
  color: $color-black;
  
  @include max-screen($breakpoint-mobile) {
    border-color: rgba($color-earth-grey, .2);
  }
  
  &::placeholder {
    color: $color-grey;
    text-transform: uppercase;
  }

  &[value=""] {
    color: $color-grey;
  }
}

.inputError {
  border-bottom: 1px solid $color-red;
}

.checkboxWrap {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid $color-grey-300;
  margin-right: 10px;
}

.checkbox {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: 0;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkboxActive {
  &::before {
    content: '\2713';
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 3px;
    width: 100%;
    height: 100%;
    color: $color-white;
    text-align: center;
    background-color: $color-cta-primary;
  }
}

.info {
  margin-top: 12px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0;
  color: $color-grey;

  @include min-screen($breakpoint-desktop) {
    // font-size: 25px;
  }
}

.label {
  display: none;
  text-transform: uppercase;
}

.labelActive {
  display: block;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0;
  color: $color-grey;
  position: absolute;
  left: 18px;
  top: 6px;
  @include fira-sans;
}

.inputActive {
  padding: 13px 18px 0;
  height: 46px;
}

.error {
  margin-top: 10px;
  font-size: 13px;
  color: $color-red;
}

.showPassword,
.hidePassword {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(12px);
  fill: rgba($color-earth-grey, .5);
  cursor: pointer;
}